<!--<ion-header-bar>
  <h1 class="title">Ionic Blank Starter</h1>
</ion-header-bar>-->
<ion-content class="content-ionic home ayuda">
  <h2>Qué es we<strong>draw</strong>?</h2>
  <p>We<strong>draw</strong> es una aplicación que te invita a dibujar mediante las líneas del Google Map de tu ciudad, formando un dibujo colaborativo entre todos los usuarios de la misma. <br><br>
  De esta forma, tu propio cuerpo pasa a ser el pincel, tu ciudad el lienzo y tus movimientos los que definen cómo se mueve el trazo. Puedes cambiar de color del mismo o pausarlo, contribuyendo al gran dibujo, de la forma que quieras!<br><br/>
  Esperamos que disfrutes de este recorrido.</p>
  <a ui-sref="home">Volver</a>
</ion-content>
