<ion-header-bar class="header-bar">
  <div class="row">
    <div class="col">
      <figure><img src="img/logo-wedraw-w.png" width="auto" height="20"/></figure>
    </div>
    <div class="col">
      <p>La plata,Bs As</p> 
    </div>
  </div>
</ion-header-bar>
<ion-content class="internas">
  <ui-gmap-google-map center="new_map.center" zoom="new_map.zoom"></ui-gmap-google-map>
  <footer>
      <div class="bar bar-footer botones-internas">
        <div class="row">
          <div class="col">
            <a ui-sref="home"><i class="ion-android-close"></i></a>
          </div>
          <div class="col">
            <a ui-sref="finish_drawing"><i class="ion-android-done"></i></a>
          </div>
      </div>
      </div>
  </footer>
</ion-content>
