<ion-header-bar class="header-bar">
  <div class="row">
    <div class="col">
      <figure><img src="img/logo-wedraw-w.png" width="auto" height="20"/></figure>
    </div>
    <div class="col">
      <p>{{locationName}}</p> 
    </div>
  </div>
</ion-header-bar>
<ion-content class="internas">
  
  <ui-gmap-google-map center="currentLocation" zoom="map.zoom">
    <ui-gmap-marker idKey="user_location_id" coords="currentLocation" options="marker_options"></ui-gmap-marker>

    <ui-gmap-polyline ng-repeat="drawing in drawings" path="drawing.sections" stroke="drawing.stroke"></ui-gmap-polyline>

    <ui-gmap-polyline path="userLocations" stroke="fakeStroke"></ui-gmap-polyline>
  </ui-gmap-google-map>


  <footer>
      <div class="bar bar-footer botones-internas">
        <a ng-if="on_map" ng-click="changeToDrawing()">Comienza a dibujar</a>

        <a ng-if="drawing" ng-click="changeToConfirming()"><i class="ion-android-done"></i></a>

        <div ng-if="confirming_drawing" class="row">
          <div class="col">
            <a ui-sref="home"><i class="ion-android-close"></i></a>
          </div>
          <div class="col">
            <a ng-click="saveDrawing()"><i class="ion-android-done"></i></a>
          </div>
        </div>
      </div>
  </footer>
</ion-content>
