<ion-header-bar class="header-bar">
  <div class="row">
    <div class="col col-10">
      <img src="../img/logo-wedraw-w.png" width="30">
    </div>
    <div class="col col-90">
      <p>{{locationName}}</p>
      <!--<p>lat: {{measured_position.coords.latitude}}, lng: {{measured_position.coords.longitude}}, acc: {{measured_position.coords.accuracy}}, mea:{{measured}}</p>-->
    </div>
  </div>
</ion-header-bar>
<ion-content class="internas">
  

  <ui-gmap-google-map center="currentLocation" zoom="map.zoom">
    <ui-gmap-marker idKey="user_location_id" coords="currentLocation" options="marker_options"></ui-gmap-marker>

    <div ng-repeat="drawing in drawings">
      <ui-gmap-polyline ng-repeat="section in drawing.sections" path="section.points" stroke="section.stroke"></ui-gmap-polyline>
    </div>

    <ui-gmap-polyline ng-repeat="section in currentDrawing.sections" path="section.points_attributes" stroke="section.stroke_attributes" ng-if="currentDrawing.sections.length"></ui-gmap-polyline>

    <ui-gmap-polyline path="currentSection.points_attributes" stroke="currentSection.stroke_attributes" ></ui-gmap-polyline>
  </ui-gmap-google-map>


  <footer>
      <div class="bar bar-footer botones-internas">
        <a ng-if="on_map" ng-click="changeToDrawing()">Comienza a dibujar</a>

        <div ng-if="drawing" class="row">
          <div class="col">
            <!--<button 
              class="button"
              ng-style="myStyle"
              model-mode="hex" 
              ng-model="currentSection.stroke_attributes.color" 
              modal-title="Elija un color" 
              cancel-button="Cancelar" 
              color-picker>
            </button>-->
            <button 
              class="button-footer"
              ng-style="myStyle"
              model-mode="hex" 
              ng-model="currentSection.stroke_attributes.color" 
              modal-title="Elija un color" 
              cancel-button="Cancelar" 
              color-picker>
            <i class="ion-android-color-palette"></i>
            </button>
          </div>
          
          <div class="col">
            <a ng-click="changeToConfirming()"><i class="ion-pause"></i></a>
          </div>
          <div class="col">
            <a ng-click="changeToConfirming()"><i class="ion-android-done"></i></a>
          </div>
        </div>  

        <div ng-if="confirming_drawing" class="row">
          <div class="col">
            <a ui-sref="home"><i class="ion-android-close"></i></a>
          </div>
          <div class="col">
            <a ng-click="saveDrawing()"><i class="ion-android-done"></i></a>
          </div>
        </div>
      </div>
  </footer>
</ion-content>
