<ion-header-bar class="header-bar">
  <div class="row">
    <div class="col">
      <figure><img src="img/logo-wedraw-w.png" width="auto" height="20"/></figure>
    </div>
    <div class="col tercer-pantalla">
      <p>La plata,Bs As</p> 
    </div>
    <div class="col">
      <input type="color" id="html5colorpicker" onchange="clickColor(0, -1, -1, 5)" value="#ff0000">
    </div>
  </div>
</ion-header-bar>
<ion-content class="internas">
  <ui-gmap-google-map center="new_map.center" zoom="new_map.zoom"></ui-gmap-google-map>
  <footer>
      <div class="bar bar-footer botones-internas">
        <div class="row">
          <div class="col">
            <a ui-sref="confirm_drawing"><i class="ion-android-refresh"></i></a>
          </div>
          <div class="col">
            <a ui-sref="confirm_drawing"><i class="ion-ios-pause"></i></a>
          </div>
          <div class="col">
            <a ui-sref="confirm_drawing"><i class="ion-android-done"></i></a>
          </div>
      </div>
      </div>
  </footer>
</ion-content>
